body {
  background-color: #90c2e7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logInContainer {
  padding: 250px;
}

.logInHeader h3 {
  color: white;
}

.userNameField label {
  color: white;
}

.userNameField #username {
  background: #ffffff;
  border: none;
  box-shadow: inset -5px -5px 10px #d9d9d9,
            inset 5px 5px 10px #ffffff;
}

.userNameField #username:focus{
  background: #ffffff;
  border: none;
  box-shadow: inset -5px -5px 10px #d9d9d9,
            inset 5px 5px 10px #ffffff;
}

.logInButton {
  margin-top: 20px;
  border-radius: 50px;
  background: linear-gradient(145deg, #82afd0, #9ad0f7);
  box-shadow:  5px 5px 10px #7aa5c4,
               -5px -5px 10px #a6dfff;
  font-weight: bold;
  color: white;
}

.logInButton:hover {
  margin-top: 50px;
  border-radius: 50px;
  background: #90c2e7;
  box-shadow: inset 5px 5px 10px #7aa5c4,
              inset -5px -5px 10px #a6dfff;
  font-weight: bold;
  color: white;
}


.chatBox {
  display: block;
}

.chatBox h2 {
  text-align: center;
}

.chatScreen {
  margin-top: 50px;
  display: block;
  max-width: 500px;
  max-height: 600px;
  background: #ebcfb2;
  overflow-y: scroll;
}

.chatScreen form {
  max-height: 300px;
}

.profileName {
  color: #26d9c3;
  font-weight: bold;
}

.chatBubble {
  max-width: 350px;
  float: left;
  clear: both;
  border-radius: 0px 5px 5px 5px;
  background-color: #ffffff;
  margin: 10px;
  padding: 5px 10px 5px 10px;
}

.chatBubbleFromThisUser {
  float: right;
  max-width: 350px;
  clear: both;
  background-color: #d7f2ba;
  border-radius: 5px 0px 5px 5px;
  margin: 10px;
  padding: 5px 10px 5px 10px;
}

.chatBubbleFromThisUser .profileName {
  display: none;
}

.replyField #newReplyBox {
  background: #ffffff;
  border-radius: 15px;
  border: none;
}

.replyField #newReplyBox:focus{
  background: #ffffff;
  border: none;
  box-shadow: none;
}

.replyButton {
  margin-top: 10px;
  border-radius: 50px;
  background-color: #2C84C7;
  font-weight: bold;
  color: white;
}

.replyButton:hover {
  background-color: #ffffff;
  color: #2C84C7;
  border: 1px solid #2C84C7;
}

.replyButton:disabled, .replyButton[disabled] {
  color: #ebcfb2;
  background-color: #ebcfb2;
}

.reply-group {
  display: block;
  padding-bottom: 10px;
}
